/*ItemCart*/
.item-cart-img{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        object-fit: scale-down;
        width: 100px;
        height: 100px;
    }
}
.item-cart-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-cart-price{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-cart-delete{
    display: flex;
    justify-content: center;
    align-items: center;
    .btn-delete-cart{
        border: none;
        color: black;
        background-color: #fff;
    }
}