/*Detalle del item*/
.img-box{
    display: flex;
    justify-content: center;
    width: 300px;
    align-items: center;
    img{
        width: 280px;
        height: 280px;
        object-fit: scale-down;
    }
}
.buy-box{
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .buybox-title h3{
        text-align: left;
        font-size: 21px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 700;
        width: auto;
    }
    .buybox-price p{
            text-align: left;
            font-size: 28px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 700;
    }
    
         
}
.product-description{
    width: 90%;
    margin: auto;
}
  