* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    text-align: center;
}
@import './components/navbar/navbar';
@import './components//itemlistcontainer/itemlistcontainer';
@import './components/banner-info/bannerinfo';
@import './components/Item/item';
@import './components/counter/counter'