* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

/* Navbar */
.fixed-nav {
  position: fixed;
  top: 0px;
  z-index: 1000;
  width: 100%;
}

/*Item List Container*/
.shop-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 34px;
  margin: 0 0 34px;
}

/*Banner - Info*/
.banner-info {
  background-color: #e2e2e2;
  padding: 40px 0;
  margin: 20px 0px 70px;
}
.banner-info .banner-item {
  display: flex;
  flex-direction: row;
  padding: 0px 50px;
  margin: 15px 0px;
}
.banner-info .banner-item h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.banner-info .banner-item p {
  margin: 0;
  font-size: 14px;
}
.banner-info .banner-item .icono {
  padding: 0px 15px;
}
.banner-info .banner-item .info-texto {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: left;
}

/* Item */
.card-item {
  max-width: 300px;
  padding: 10px 0;
  outline: none;
  border-radius: 10px;
  margin-bottom: 20px;
  margin: 0 auto;
}
.card-item .card-img {
  width: 180px;
  height: 264px;
  margin: auto;
  object-fit: contain;
}
.card-item .card-content {
  margin: 20px 10px 0px 10px;
}
.card-item .card-content .card-title {
  height: 48px;
  color: black;
  overflow: hidden;
}
.card-item .card-content .card-text {
  color: black;
}
.card-item:hover {
  transition-duration: 0.5s;
  box-shadow: 0px 0px 5px #a7a7a7;
}
.card-item button {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  background-color: black;
  color: white;
  width: 100%;
  margin: auto;
  height: 40px;
  padding: 5px;
}

/* Contador */
.contador {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  border: 1px solid;
  border-color: gray;
  border-radius: 10px;
  height: 40px;
}
.contador p {
  margin-bottom: 0px;
}
.contador .btn-contador {
  font-size: 19px;
  background-color: white;
  color: black;
  width: 50px;
  height: 38px;
  border: none;
  border-radius: 10px;
}
.contador:hover {
  border-color: black;
}

/* Spinner */
.spinner-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 1150px;
  height: 500px;
}
.spinner-container .spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: gray;
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Carrito de compra */
.cart-container {
  margin-top: 100px;
  min-height: 80vh;
}
.cart-container .cart-item-container {
  min-height: 50vh;
}
.cart-container .total-price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.cart-container .buy-btn-cart {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  background-color: black;
  color: white;
  min-width: 100px;
  max-width: 280px;
  margin: auto;
  height: 40px;
  font-size: 1.2rem;
  margin-bottom: 50px;
}

/*ItemCart*/
.item-cart-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-cart-img img {
  object-fit: scale-down;
  width: 100px;
  height: 100px;
}

.item-cart-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-cart-price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-cart-delete {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-cart-delete .btn-delete-cart {
  border: none;
  color: black;
  background-color: #fff;
}

/*Total Price Cart*/
.box-price-cart {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer */
footer {
  width: 100%;
  padding: 10px 0;
  background-color: #242424;
}
footer .creador {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
footer .creador h6 {
  color: white;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 0px;
}
footer .linkedin {
  display: flex;
  justify-content: flex-end;
}
footer .fondo-linkedin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 10%;
  transition-duration: 0.5s;
}
footer .fondo-linkedin:hover {
  border-radius: 30%;
}

/* Error Page */
.error {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Detalle -contenedor*/
.detail-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Detalle del item*/
.img-box {
  display: flex;
  justify-content: center;
  width: 300px;
  align-items: center;
}
.img-box img {
  width: 280px;
  height: 280px;
  object-fit: scale-down;
}

.buy-box {
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.buy-box .buybox-title h3 {
  text-align: left;
  font-size: 21px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  width: auto;
}
.buy-box .buybox-price p {
  text-align: left;
  font-size: 28px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
}

.product-description {
  width: 90%;
  margin: auto;
}

/*Contenedor del contador*/
.stock-disponible p {
  text-align: left;
}

.counter-container {
  display: flex;
  flex-direction: row;
}
.counter-container .botones-counter {
  padding-left: 0;
}
.counter-container .botones-counter .finish-buying {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  background-color: black;
  color: white;
  width: 100%;
  margin: auto;
  height: 40px;
  padding: 7px;
}
.counter-container .details-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.counter-container .details-btn button {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  background-color: black;
  color: white;
  width: 100%;
  margin: auto;
  height: 40px;
  padding: 5px;
}

/*Mensaje carrito vacio*/
.empty-cart-message {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*Checkout*/
.checkout-container {
  min-height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Formulario de envio*/
.form-datos-container {
  margin: 80px 0 10px 0;
  min-height: 86vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.form-datos-container h4 {
  font-size: 1.9rem;
}
.form-datos-container .form-datos {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}
.form-datos-container .form-datos .input-envio {
  margin: 10px;
  height: 30px;
  border: none;
  background-color: #f3f3f3;
  padding: 20px;
}
.form-datos-container .form-datos .btn-comprar {
  max-width: 280px;
  margin: 10px auto;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px;
}

/*# sourceMappingURL=App.css.map */
