* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
.App{
    text-align: center;
}
@import './components/navbar/navbar';
@import './components//itemlistcontainer/itemlistcontainer';
@import './components/banner-info/bannerinfo';
@import './components/Item/item';
@import './components/counter/counter';
@import './components/spinner/spinner';
@import './components/contacto/contacto';
@import './pages/cart/cart';
@import './components/cart/itemcart';
@import './components/cart/totalpricecart';
@import './components/footer/footer';
@import './pages/error/error';
@import './components/itemdetail/itemdetailcontainer';
@import './components/itemdetail/itemdetail';
@import './pages/login/login';
@import './components/categoriesbar/categoriesbar'
